@model Meetup.Models.EventIntro.EventDetails

    <div class="thumbnail">
        <a href="Event-Detail.html">
            @Model.EventImage
        </a>
        <div class="caption">
            <h3 class="teaser-heading">@Model.ContentHeading</h3>
            <p>
                @Model.ContentBody
            </p>
            <a href="Event-Detail.html" class="btn btn-default">Read me more</a>
        </div>
    </div>


