
    <div class="well bg-primary">
        <h5 class="text-uppercase">Events</h5>
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    May 18, 2016
                    <h4 class="media-heading">
                        <a href="Event-Detail.html">Cycling from Bangkok to Chiang Mai</a>
                    </h4>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    September 20, 2016
                    <h4 class="media-heading">
                        <a href="Event-Detail.html">Hiking the Italian Alps </a>
                    </h4>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    December 15, 2016
                    <h4 class="media-heading">
                        <a href="Event-Detail.html">Skiing the Himalayas</a>
                    </h4>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    May 24, 2017
                    <h4 class="media-heading">
                        <a href="Event-Detail.html">Rock Climbing in the Czech Republic</a>
                    </h4>
                </div>
            </li>
        </ul>
        <a href="Event-Sections.html" class="btn btn-default">Read more</a>
    </div>


